---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/octocat/Spoon-Knife/commits/69245350b031c5573fe2b6da9dad4514f5625f0d/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB-TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1399574252'
      Etag:
      - '"a16c17a97a07be4f366e9add183497c2"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/1300192/commits/69245350b031c5573fe2b6da9dad4514f5625f0d/comments?page=0>;
        rel="last"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 08 May 2014 17:37:32 GMT
- request:
    method: get
    uri: https://api.github.com/repos/stevepm/trackerhub-app/commits/69245350b031c5573fe2b6da9dad4514f5625f0d/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB-TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4919'
      X-Ratelimit-Reset:
      - '1399583983'
      Etag:
      - '"1ab68d56b1da4ce4c60bba464e654c9f"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/stevepm/trackerhub-app/comments/6258703","html_url":"https://github.com/stevepm/trackerhub-app/commit/69245350b031c5573fe2b6da9dad4514f5625f0d#commitcomment-6258703","id":6258703,"user":{"login":"stevepm","id":431557,"avatar_url":"https://avatars.githubusercontent.com/u/431557?","gravatar_id":"08b96ab0385e9023d3b37f77e55258b3","url":"https://api.github.com/users/stevepm","html_url":"https://github.com/stevepm","followers_url":"https://api.github.com/users/stevepm/followers","following_url":"https://api.github.com/users/stevepm/following{/other_user}","gists_url":"https://api.github.com/users/stevepm/gists{/gist_id}","starred_url":"https://api.github.com/users/stevepm/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/stevepm/subscriptions","organizations_url":"https://api.github.com/users/stevepm/orgs","repos_url":"https://api.github.com/users/stevepm/repos","events_url":"https://api.github.com/users/stevepm/events{/privacy}","received_events_url":"https://api.github.com/users/stevepm/received_events","type":"User","site_admin":false},"position":null,"line":null,"path":null,"commit_id":"69245350b031c5573fe2b6da9dad4514f5625f0d","created_at":"2014-05-08T17:12:39Z","updated_at":"2014-05-08T17:12:39Z","body":"gus
        king comment test"},{"url":"https://api.github.com/repos/stevepm/trackerhub-app/comments/6259187","html_url":"https://github.com/stevepm/trackerhub-app/commit/69245350b031c5573fe2b6da9dad4514f5625f0d#commitcomment-6259187","id":6259187,"user":{"login":"stevepm","id":431557,"avatar_url":"https://avatars.githubusercontent.com/u/431557?","gravatar_id":"08b96ab0385e9023d3b37f77e55258b3","url":"https://api.github.com/users/stevepm","html_url":"https://github.com/stevepm","followers_url":"https://api.github.com/users/stevepm/followers","following_url":"https://api.github.com/users/stevepm/following{/other_user}","gists_url":"https://api.github.com/users/stevepm/gists{/gist_id}","starred_url":"https://api.github.com/users/stevepm/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/stevepm/subscriptions","organizations_url":"https://api.github.com/users/stevepm/orgs","repos_url":"https://api.github.com/users/stevepm/repos","events_url":"https://api.github.com/users/stevepm/events{/privacy}","received_events_url":"https://api.github.com/users/stevepm/received_events","type":"User","site_admin":false},"position":null,"line":null,"path":null,"commit_id":"69245350b031c5573fe2b6da9dad4514f5625f0d","created_at":"2014-05-08T17:41:38Z","updated_at":"2014-05-08T17:41:38Z","body":"test
        comment"}]'
  recorded_at: Thu, 08 May 2014 21:05:40 GMT
recorded_with: VCR 2.9.0
