---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/me?token=<TRACKER-TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        {
          "kind": "me",
          "id": 1256942,
          "name": "Steven Magelowitz",
          "initials": "sm",
          "username": "stevenmagelowitz",
          "time_zone": {
            "kind": "time_zone",
            "olson_name": "America/Los_Angeles",
            "offset": "-07:00"
          },
          "api_token": "<TRACKER-TOKEN>",
          "has_google_identity": false,
          "projects": [
            {
              "kind": "membership_summary",
              "id": 3967062,
              "project_id": 966426,
              "project_name": "gSchoolMarch2014Curriculum",
              "project_color": "cccccc",
              "role": "viewer",
              "last_viewed_at": "2014-05-07T16:22:43Z"
            },
            {
              "kind": "membership_summary",
              "id": 4011670,
              "project_id": 1029336,
              "project_name": "Steve Magelowitz's work",
              "project_color": "74a4d7",
              "role": "owner",
              "last_viewed_at": "2014-03-27T19:05:05Z"
            },
            {
              "kind": "membership_summary",
              "id": 4019554,
              "project_id": 1031130,
              [...]
