---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/me?token=<TRACKER-TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        {
          "kind": "me",
          "id": 1256942,
          "name": "Steven Magelowitz",
          "initials": "sm",
          "username": "stevenmagelowitz",
          "time_zone": {
            "kind": "time_zone",
            "olson_name": "America/Los_Angeles",
            "offset": "-07:00"
          },
          "api_token": "<TRACKER-TOKEN>",
          "has_google_identity": false,
          "projects": [
            {
              "kind": "membership_summary",
              "id": 3967062,
              "project_id": 966426,
              "project_name": "gSchoolMarch2014Curriculum",
              "project_color": "cccccc",
              "role": "viewer",
              "last_viewed_at": "2014-05-07T16:22:43Z"
            },
            {
              "kind": "membership_summary",
              "id": 4011670,
              "project_id": 1029336,
              "project_name": "Steve Magelowitz's work",
              "project_color": "74a4d7",
              "role": "owner",
              "last_viewed_at": "2014-03-27T19:05:05Z"
            },
            {
              "kind": "membership_summary",
              "id": 4019554,
              "project_id": 1031130,
              [...]
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075330/stories?token=<TRACKER-TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '32'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 70867114,
            "created_at": "2014-05-06T06:00:00Z",
            "updated_at": "2014-05-07T22:33:44Z",
            "estimate": 2,
            "story_type": "feature",
            "name": "As a user, I can view all of my projects",
            "description": "Given I'm on the homepage\nWhen I click on \"View Projects\"\nI see a list of all projects\n\n---\nUse your own API token. Make sure you don't commit it (dotenv-rails). (https://www.pivotaltracker.com/help/api#Basics)",
            "current_state": "delivered",
            "requested_by_id": 1256942,
            "project_id": 1075330,
            "url": "https://www.pivotaltracker.com/story/show/70867114",
            "owner_ids": [
              1256898
            ],
            "labels": [

            ],
            "owned_by_id": 1256898
          },
          {
            "kind": "story",
            "id": 70867116,
            "created_at": "2014-05-06T06:00:00Z",
            "updated_at": "2014-05-07T21:59:51Z",
            "estimate": 1,
            "story_type": "feature",
            "name": "As a user, I can view all of the stories for a project",
            "description": "Given I'm go to the homepage\nWhen I click on a project\nI see a list of all of that projects stories",
            "current_state": "deliv[...]
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075330/stories/70867114/comments?token=<TRACKER-TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '32'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "comment",
            "id": 68640582,
            "story_id": 70867114,
            "text": "This is a test comment on the first story",
            "person_id": 534749,
            "created_at": "2014-05-06T00:00:00Z",
            "updated_at": "2014-05-07T16:23:45Z"
          },
          {
            "kind": "comment",
            "id": 68640584,
            "story_id": 70867114,
            "text": "This is a second test comment on the first story",
            "person_id": 534749,
            "created_at": "2014-05-06T00:00:00Z",
            "updated_at": "2014-05-07T16:23:45Z"
          },
          {
            "kind": "comment",
            "id": 68677128,
            "story_id": 70867114,
            "text": "Commit by Steven Magelowitz\nhttps://github.com/stevepm/trackerhub-app/commit/9935d4ac5d0ea9bf59bc1f6f0dff35b5a0c50879\n\n[#70867114] User is able to view all projects.\n\nSigned-off-by: Gus King <gusssk@gmail.com>",
            "person_id": 1256942,
            "created_at": "2014-05-07T21:04:44Z",
            "updated_at": "2014-05-07T21:04:44Z",
            "commit_identifier": "9935d4ac5d0ea9bf59bc1f6f0dff35b5a0c50879",
            "commit_type": "github"
          },
          {
            "kind": "comment",
            "id": 68686112,
            "story_id": 70867114,
            "text": "Heroku link in readme please so I can do acceptance.",
            "person_id": 1234268,
            "created_at": "2014-05-07T22:33:44Z",
            "updated_at": "2014-05-07T22:33:44Z"
          }
        ]
  recorded_at: Thu, 08 May 2014 21:05:30 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/stevepm/trackerhub-app/commits/9935d4ac5d0ea9bf59bc1f6f0dff35b5a0c50879/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB-TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4927'
      X-Ratelimit-Reset:
      - '1399583983'
      Etag:
      - '"a16c17a97a07be4f366e9add183497c2"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/19546996/commits/9935d4ac5d0ea9bf59bc1f6f0dff35b5a0c50879/comments?page=0>;
        rel="last"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 08 May 2014 21:05:35 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/stevepm/trackerhub-app/commits/3b3cb1566251005ef65a92a59ed6ba77e4c90479/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB-TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4925'
      X-Ratelimit-Reset:
      - '1399583983'
      Etag:
      - '"7b28f894f13b319f93b11123fcdd2ece"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/stevepm/trackerhub-app/comments/6258694","html_url":"https://github.com/stevepm/trackerhub-app/commit/3b3cb1566251005ef65a92a59ed6ba77e4c90479#commitcomment-6258694","id":6258694,"user":{"login":"stevepm","id":431557,"avatar_url":"https://avatars.githubusercontent.com/u/431557?","gravatar_id":"08b96ab0385e9023d3b37f77e55258b3","url":"https://api.github.com/users/stevepm","html_url":"https://github.com/stevepm","followers_url":"https://api.github.com/users/stevepm/followers","following_url":"https://api.github.com/users/stevepm/following{/other_user}","gists_url":"https://api.github.com/users/stevepm/gists{/gist_id}","starred_url":"https://api.github.com/users/stevepm/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/stevepm/subscriptions","organizations_url":"https://api.github.com/users/stevepm/orgs","repos_url":"https://api.github.com/users/stevepm/repos","events_url":"https://api.github.com/users/stevepm/events{/privacy}","received_events_url":"https://api.github.com/users/stevepm/received_events","type":"User","site_admin":false},"position":null,"line":null,"path":null,"commit_id":"3b3cb1566251005ef65a92a59ed6ba77e4c90479","created_at":"2014-05-08T17:12:03Z","updated_at":"2014-05-08T17:12:03Z","body":"test
        comment"}]'
  recorded_at: Thu, 08 May 2014 21:05:35 GMT
[...]
