---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/me?token=<TRACKER-TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        {
          "kind": "me",
          "id": 1256942,
          "name": "Steven Magelowitz",
          "initials": "sm",
          "username": "stevenmagelowitz",
          "time_zone": {
            "kind": "time_zone",
            "olson_name": "America/Los_Angeles",
            "offset": "-07:00"
          },
          "api_token": "<TRACKER-TOKEN>",
          "has_google_identity": false,
          "projects": [
            {
              "kind": "membership_summary",
              "id": 3967062,
              "project_id": 966426,
              "project_name": "gSchoolMarch2014Curriculum",
              "project_color": "cccccc",
              "role": "viewer",
              "last_viewed_at": "2014-05-07T16:22:43Z"
            },
            {
              "kind": "membership_summary",
              "id": 4011670,
              "project_id": 1029336,
              "project_name": "Steve Magelowitz's work",
              "project_color": "74a4d7",
              "role": "owner",
              "last_viewed_at": "2014-03-27T19:05:05Z"
            },
            {
              "kind": "membership_summary",
              "id": 4019554,
              "project_id": 1031130,
              [...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075330/stories?token=<TRACKER-TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '30'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 70867114,
            "created_at": "2014-05-06T06:00:00Z",
            "updated_at": "2014-05-07T22:33:44Z",
            "estimate": 2,
            "story_type": "feature",
            "name": "As a user, I can view all of my projects",
            "description": "Given I'm on the homepage\nWhen I click on \"View Projects\"\nI see a list of all projects\n\n---\nUse your own API token. Make sure you don't commit it (dotenv-rails). (https://www.pivotaltracker.com/help/api#Basics)",
            "current_state": "delivered",
            "requested_by_id": 1256942,
            "project_id": 1075330,
            "url": "https://www.pivotaltracker.com/story/show/70867114",
            "owner_ids": [
              1256898
            ],
            "labels": [

            ],
            "owned_by_id": 1256898
          },
          {
            "kind": "story",
            "id": 70867116,
            "created_at": "2014-05-06T06:00:00Z",
            "updated_at": "2014-05-07T21:59:51Z",
            "estimate": 1,
            "story_type": "feature",
            "name": "As a user, I can view all of the stories for a project",
            "description": "Given I'm go to the homepage\nWhen I click on a project\nI see a list of all of that projects stories",
            "current_state": "deliv[...]
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075330/stories/70867114/comments?token=<TRACKER-TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '30'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "comment",
            "id": 68640582,
            "story_id": 70867114,
            "text": "This is a test comment on the first story",
            "person_id": 534749,
            "created_at": "2014-05-06T00:00:00Z",
            "updated_at": "2014-05-07T16:23:45Z"
          },
          {
            "kind": "comment",
            "id": 68640584,
            "story_id": 70867114,
            "text": "This is a second test comment on the first story",
            "person_id": 534749,
            "created_at": "2014-05-06T00:00:00Z",
            "updated_at": "2014-05-07T16:23:45Z"
          },
          {
            "kind": "comment",
            "id": 68677128,
            "story_id": 70867114,
            "text": "Commit by Steven Magelowitz\nhttps://github.com/stevepm/trackerhub-app/commit/9935d4ac5d0ea9bf59bc1f6f0dff35b5a0c50879\n\n[#70867114] User is able to view all projects.\n\nSigned-off-by: Gus King <gusssk@gmail.com>",
            "person_id": 1256942,
            "created_at": "2014-05-07T21:04:44Z",
            "updated_at": "2014-05-07T21:04:44Z",
            "commit_identifier": "9935d4ac5d0ea9bf59bc1f6f0dff35b5a0c50879",
            "commit_type": "github"
          },
          {
            "kind": "comment",
            "id": 68686112,
            "story_id": 70867114,
            "text": "Heroku link in readme please so I can do acceptance.",
            "person_id": 1234268,
            "created_at": "2014-05-07T22:33:44Z",
            "updated_at": "2014-05-07T22:33:44Z"
          }
        ]
  recorded_at: Thu, 08 May 2014 17:07:58 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075330/stories/70867126/comments?token=<TRACKER-TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '30'
    body:
      encoding: UTF-8
      string: |-
        [

        ]
  recorded_at: Thu, 08 May 2014 17:07:59 GMT
recorded_with: VCR 2.9.0
